{# 
    NUR-UL-HUDA BLOG TAXONOMY
    -------------------------
    Blueprint: [blog-components.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/blog-components.blueprint.md)
#}
{% if page.taxonomy.tag %}
<div class="blog-tags {{ classes|default('') }}">
    {% for tag in page.taxonomy.tag %}
    <a class="badge" 
       href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}#body-wrapper">
        {{ tag }}
    </a>
    {% endfor %}
</div>
{% endif %}
