{% if page.taxonomy.tag %}
<div class="blog-tags {{ classes|default('') }}">
    {% for tag in page.taxonomy.tag %}
    <a class="badge-primary" 
       href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}#body-wrapper">
        {{ tag }}
    </a>
    {% endfor %}
</div>
{% endif %}

