{% set title_level = title_level ?: 'h2' %}
{% if page.header.link %}
    <{{ title_level }} class="p-name blog-title">
        {% if page.header.continue_link is not same as(false) %}
        <a href="{{ page.url }}" class="external-link-icon" aria-label="Read full post"><i class="la la-external-link-square"></i></a>
        {% endif %}
        <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
    </{{ title_level }}>
{% else %}
    <{{ title_level }} class="p-name section-title section-title-major blog-title">
        <a href="{{ page.url }}" class="u-url">{{ page.title }}</a>
    </{{ title_level }}>
{% endif %}

