{# 
    NUR-UL-HUDA SWITCH FIELD
    ------------------------
    Blueprint: [forms-and-blocks.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/forms-and-blocks.blueprint.md)
#}
{% extends "forms/field.html.twig" %}

{% block input %}
    {% set id = field.id|default(field.name) ~ '-' ~ key %}
    <div class="{{ form_field_wrapper_classes ?: 'form-input-wrapper' }} {{ field.size }} {{ field.wrapper_classes }} form-switch-group container-inline">
        <label class="switch-label-wrapper flex-width-full" for="{{ id|e }}">
            <input
                name="{{ (scope ~ field.name)|fieldName }}"
                value="{{ value|join(', ') }}"
                type="checkbox"
                class="sr-only switch-input"
                {% if value == true %} checked="checked" {% endif %}
                id="{{ id|e }}"
                {% if field.disabled or isDisabledToggleable %}disabled="disabled"{% endif %}
                {% if required %}required="required"{% endif %}
            />
            {# Track containing Thumb #}
            <div class="switch-track">
                <div class="switch-thumb"></div>
            </div>
            
            <span class="switch-label-text">
                {{ field.label|t|e }} 
                {% if field.validate.required in ['on', 'true', 1] %}
                    <span class="required-asterisk">*</span>
                {% endif %}
            </span>
        </label>
    </div>
{% endblock %}
