<article class="blog-list-card" aria-labelledby="post-title-{{ page.slug }}">
    {% set image = page.media.images|first %}
    {% if image %}
    <div class="blog-list-image">
        <a href="{{ page.url }}" class="blog-list-image-link" aria-hidden="true" tabindex="-1">
            {{ image.cropZoom(800,450).html('','','blog-list-img')|raw }}
            <div class="blog-list-overlay"></div>
        </a>
        <div class="blog-list-date">
             {% include 'partials/blog/date.html.twig' with {classes: 'badge-primary blog-list-date-badge'} %}
        </div>
    </div>
    {% endif %}
    
    <div class="blog-list-content">
        <div class="blog-list-tags">
            {% include 'partials/blog/taxonomy.html.twig' with {classes: 'blog-list-taxonomy'} %}
        </div>
        
        <h2 id="post-title-{{ page.slug }}" class="blog-list-title">
             <a href="{{ page.url }}" class="blog-list-title-link">
                {{ page.title }}
            </a>
        </h2>
        
        <div class="blog-list-excerpt">
            {% if page.summary != page.content %}
                {{ page.summary|striptags }}
            {% else %}
                {{ page.content|striptags|truncate(200) }}
            {% endif %}
        </div>

        <div class="blog-list-footer">
            <a href="{{ page.url }}" class="blog-list-read-more">
                Read More
                <i class="la la-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</article>
