{# Bottom Banner Template - Pure Custom CSS (Modern Vanilla) #}
{% set copyright = theme_var('bottom_banner_copyright') %}
{% set site_name = theme_var('site_name')|default(site.title) %}
{% set direction = theme_var('direction')|default('ltr') %}
{% set bottom_banner_bg = theme_var('top_banner_bg_color')|default('var(--color-bottom-banner-bg)') %}
{% set bottom_banner_bg_style = bottom_banner_bg matches '/^var\\(/i' or bottom_banner_bg matches '/^oklch/i' ? bottom_banner_bg : 'oklch(from ' ~ bottom_banner_bg ~ ' L C H)' %}

{# Macro for Social Media Icons with Inline SVGs #}
{# Macro for Social Media Icons with Inline SVGs #}
	{% macro social_icon(url, platform, label) %}
	{% set show_mobile = theme_var('bottom_banner_show_social_labels_mobile') %}
	{% set show_desktop = theme_var('bottom_banner_show_social_labels_desktop') %}
	{% set svg_paths = {
        'facebook': 'M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z',
        'twitter': 'M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z',
        'instagram': 'M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838a6.162 6.162 0 100 12.324 6.162 6.162 0 000-12.324zM12 16a4 4 0 110-8 4 4 0 010 8zm6.406-11.845a1.44 1.44 0 100 2.881 1.44 1.44 0 000-2.881z',
        'youtube': 'M23.498 6.186a3.016 3.016 0 00-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 00.502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 002.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 002.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z',
        'telegram': 'M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.168.9-.499 1.201-.82 1.23-.696.065-1.225-.46-1.9-.902-1.056-.693-1.653-1.124-2.678-1.8-1.185-.78-.417-1.21.258-1.91.177-.184 3.247-2.977 3.307-3.23.007-.032.014-.15-.056-.212s-.174-.041-.249-.024c-.106.024-1.793 1.14-5.061 3.345-.48.33-.913.49-1.302.48-.428-.008-1.252-.241-1.865-.44-.752-.245-1.349-.374-1.297-.789.027-.216.325-.437.893-.663 3.498-1.524 5.83-2.529 6.998-3.014 3.332-1.386 4.025-1.627 4.476-1.635z',
        'maps': 'M12 0C7.802 0 4.4 3.402 4.4 7.602C4.4 11.174 12 24 12 24S19.6 11.174 19.6 7.602C19.6 3.402 16.199 0 12 0ZM12 10.933C10.16 10.933 8.667 9.44 8.667 7.6C8.667 5.76 10.16 4.267 12 4.267C13.84 4.267 15.333 5.76 15.333 7.6C15.333 9.44 13.84 10.933 12 10.933Z',
        'whatsapp': 'M12.031 0C5.396 0 0 5.396 0 12.031c0 2.12.55 4.167 1.589 5.968L.47 23.511l5.656-1.484A11.967 11.967 0 0012.03 24.06c6.636 0 12.031-5.396 12.031-12.03S18.667 0 12.031 0zM12.03 22.043c-1.83 0-3.628-.488-5.203-1.422l-.373-.222-3.86 1.013 1.031-3.765-.24-.386a9.982 9.982 0 01-1.533-5.23c0-5.515 4.486-10.003 10.046-10.003h.005c5.513 0 10.003 4.488 10.003 10.003.002 5.514-4.488 10.012-9.871 10.012zm5.492-7.513c-.3-.15-1.78-.878-2.055-.978-.276-.1-.476-.15-.676.15-.2.3-.776.978-.951 1.178-.175.2-.351.226-.651.076-1.286-.64-2.368-1.642-3.32-3.338-.266-.475 2.152-3.048-1.127-1.702-.1-.041-.22-.066-.34-.1-.13-.035-2.016-4.99-.214-4.832.185.016.37.039.53.07.135.025.29.076.4.202.155.176.5 1.254.55 1.354.05.1.075.213.013.338-.063.125-.1.2-.188.3-.1.113-.213.25-.3.338-.1.1-.213.213-.088.425.125.213.551.913 1.188 1.488.825.738 1.525.963 1.738 1.063.213.1.338.088.463-.05.125-.138.538-.626.688-.838.15-.213.3-.175.525-.088.225.088 1.425.675 1.675.8.25.125.413.188.475.288.063.1.063.576-.188 1.276z',
        'phone': 'M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z',
		'email': 'M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67zM22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z',
        'linkedin': 'M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z',
        'tiktok': 'M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97-.57-.26-1.1-.59-1.62-.93v6.14c0 1.36-.02 2.72-.31 4.05-.67 3.09-3.4 5.25-6.55 5.56-4.52.44-8.86-2.43-9.66-6.86-.44-2.45.2-4.99 1.74-6.89 1.55-1.92 4.02-3 6.47-2.91v4.17c-1.52-.08-3.03 1.14-3.5 2.59-.53 1.63.38 3.56 2.02 4.21 1.65.65 3.59.07 4.54-1.43.37-.58.55-1.26.54-1.94.01-3.69.01-7.39.01-11.08.01-1.35.01-2.7.01-4.05h1.11z',
        'pinterest': 'M12.017 0C5.396 0 .029 5.367.029 11.987c0 5.079 3.158 9.417 7.618 11.162-.105-.949-.199-2.403.041-3.439.219-.937 1.406-5.957 1.406-5.957s-.359-.72-.359-1.781c0-1.663.967-2.911 2.168-2.911 1.024 0 1.518.769 1.518 1.688 0 1.029-.653 2.567-.992 3.992-.285 1.193.6 2.165 1.775 2.165 2.128 0 3.768-2.245 3.768-5.487 0-2.861-2.063-4.869-5.008-4.869-3.41 0-5.409 2.562-5.409 5.199 0 1.033.394 2.143.889 2.741.099.12.112.225.085.345-.09.375-.293 1.199-.334 1.363-.053.225-.172.271-.399.165-1.495-.69-2.433-2.878-2.433-4.646 0-3.776 2.748-7.252 7.951-7.252 4.173 0 7.41 2.967 7.41 6.923 0 4.135-2.607 7.462-6.233 7.462-1.214 0-2.354-.629-2.758-1.379l-.749 2.848c-.269 1.045-1.004 2.352-1.498 3.146 1.123.345 2.306.535 3.55.535 6.607 0 11.985-5.365 11.985-11.987C23.97 5.39 18.592.026 11.985.026L12.017 0z',
        'snapchat': 'M12.003 0C5.373 0 0 5.373 0 12c0 6.628 5.373 12 12.003 12 6.627 0 11.997-5.372 11.997-12 0-6.627-5.37-12-11.997-12zm7.042 16.969c-.792 1.488-3.058 1.488-3.058 1.488S15.659 20 12.003 20c-3.659 0-3.987-1.543-3.987-1.543s-2.266 0-3.058-1.488c-.689-1.295-1.472-1.892-1.472-1.892s.823-.278 1.458-.875c.635-.597.55-1.914.55-1.914s-.699-1.234-1.054-2.864c-.354-1.631-.059-2.903.626-4.09 1.353-2.348 4.341-2.98 6.937-2.98 2.597 0 5.584.632 6.937 2.98.685 1.187.979 2.459.626 4.09-.356 1.63-.1.054 2.864.55 1.914.55 1.914 1.458.875.635.597 1.472.875 1.472 1.892z',
        'spotify': 'M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z',
        'discord': 'M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0 12.64 12.64 0 0 0-.617-1.25.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057 19.9 19.9 0 0 0 5.993 3.03.078.078 0 0 0 .084-.028 14.09 14.09 0 0 0 1.226-1.994.076.076 0 0 0-.041-.106 13.107 13.107 0 0 1-1.872-.892.077.077 0 0 1-.008-.128 10.2 10.2 0 0 0 .372-.292.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127 12.299 12.299 0 0 1-1.873.892.077.077 0 0 0-.04.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028 19.839 19.839 0 0 0 6.002-3.03.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03zM8.02 15.33c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.956-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.419 0 1.334-.956 2.42-2.157 2.42zm7.975 0c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.955-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.419 0 1.334-.946 2.42-2.157 2.42z'
    } %}
		<a href="{{ url }}" target="_blank" rel="noopener noreferrer" class="bottom-banner-social-icon {{ show_mobile ? 'show-label-mobile' : '' }} {{ show_desktop ? 'show-label-desktop' : '' }}" aria-label="{{ label }}"> <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="bottom-banner-social-icon-svg" aria-hidden="true">
			<path d="{{ svg_paths[platform] | default('') }}"/>
		</svg>
		{% if show_mobile or show_desktop %}
			<span class="social-label">{{ platform|capitalize }}</span>
		{% endif %}
	</a>
{% endmacro %}

<footer
	id="bottom-banner" class="bottom-banner-main" style="background-color: {{ bottom_banner_bg_style }};" role="contentinfo" aria-label="Site bottom banner">
	{# Schema.org JSON-LD (Kept intact for SEO) #}
	<script type="application/ld+json">
		{
		            "@context": "https://schema.org",
		            "@type": "Organization",
		            "name": "{{ schema_data.orgName|e('js') }}",
		            "url": "{{ url('', [], true) }}",
		{% if theme_var('custom_logo') %}"logo": "{{ url(theme_var('custom_logo'), [], true) }}",
		{% endif %}
		{% if schema_data.email or schema_data.phone %}
			"contactPoint": {
			                    "@type": "ContactPoint",
			{% if schema_data.phone %}"telephone": "{{ schema_data.phone|e('js') }}",
			{% endif %}
			{% if schema_data.email %}"email": "{{ schema_data.email|e('js') }}",
			{% endif %}
			"contactType": "customer service"
			                },
		{% endif %}
		{% if schema_data.address %}
			"address": {
			                    "@type": "PostalAddress",
			                    "streetAddress": "{{ schema_data.address|e('js') }}"
			                },
		{% endif %}
		"sameAs":
		{{ schema_data.socials|json_encode|raw }}
		}
	</script>

	{# Decorative Background Pattern #}
	<div class="bottom-banner-pattern" aria-hidden="true">
		<svg xmlns="http://www.w3.org/2000/svg">
			<defs>
				<pattern id="bottom-banner-pattern" x="0" y="0" width="40" height="40" patternunits="userSpaceOnUse">
					<circle cx="20" cy="20" r="1" fill="currentColor"/>
				</pattern>
			</defs>
			<rect width="100%" height="100%" fill="url(#bottom-banner-pattern)"/>
		</svg>
	</div>

	{# Dynamic Widget Loop #}
	{% set widgets = theme_var('bottom_banner_widgets_order')|default(['brand', 'social', 'nav', 'newsletter', 'copyright']) %}

	<div class="bottom-banner-layout-stack">
		{% for widget in widgets %}
			{% if widget == 'brand' %}
				{# Strip 1: Brand #}
				<div class="bottom-banner-header">
					<div class="bottom-banner-brand-column">
						<div class="bottom-banner-brand-header">
							{% set logo_var = theme_var('custom_logo') %}
							{% if logo_var and theme_var('bottom_banner_show_logo') %}
								<a href="{{ home_url }}" class="bottom-banner-logo-link">
									<img src="{{ url(logo_var) }}" alt="{{ site_name }}" class="bottom-banner-logo" width="80" height="auto" loading="lazy">
								</a>
							{% endif %}

							{% if theme_var('bottom_banner_show_site_name') %}
								<h2 class="bottom-banner-brand-title">{{ site_name }}</h2>
							{% endif %}

							{% if theme_var('site_tagline') and theme_var('bottom_banner_show_tagline') %}
								<p class="bottom-banner-brand-tagline">{{ theme_var('site_tagline') }}</p>
							{% endif %}
						</div>
					</div>
				</div>

			{% elseif widget == 'newsletter' %}
				{# Newsletter Strip #}
				{% include 'partials/bottom-banner-newsletter.html.twig' %}

			{% elseif widget == 'social' %}
				{# Social Strip #}
				<div class="bottom-banner-social-strip">
					<div class="bottom-banner-body">
						<section class="bottom-banner-social-section" aria-labelledby="bottom-banner-social-heading">
							<h2 id="bottom-banner-social-heading" class="bottom-banner-social-heading">Connect With Us</h2>
							{% include 'partials/social-icons.html.twig' with {'context': 'bottom_banner'} %}
						</section>
					</div>
				</div>

			{% elseif widget == 'nav' %}
				{# Navigation Grid #}
				<div class="bottom-banner-nav-strip">
					<div class="bottom-banner-body">
						<div class="bottom-banner-grid">
							{% set bottom_banner_columns = theme_var('bottom_banner_columns') %}
							{% if bottom_banner_columns %}
								{% for column in bottom_banner_columns %}
									<nav class="bottom-banner-nav-column" aria-labelledby="bottom-banner-nav-{{ loop.index }}" data-accordion="mobile">
										<button type="button" class="bottom-banner-nav-toggle" aria-expanded="false" aria-controls="bottom-banner-nav-content-{{ loop.index }}" data-bottom-banner-toggle>
											<h3 id="bottom-banner-nav-{{ loop.index }}" class="bottom-banner-nav-title">{{ column.title }}</h3>
											<i class="bottom-banner-nav-icon" aria-hidden="true"></i>
										</button>
										<div id="bottom-banner-nav-content-{{ loop.index }}" class="bottom-banner-nav-content" aria-hidden="true">
											{% if column.links %}
												<ul class="bottom-banner-nav-list" role="list">
													{% for link in column.links %}
														<li>
															<a href="{{ link.url }}" class="bottom-banner-nav-link">
																<i class="bottom-banner-nav-link-icon la la-angle-{{ direction == 'rtl' ? 'left' : 'right' }}" aria-hidden="true"></i>
																<span class="bottom-banner-nav-link-text">{{ link.text }}</span>
															</a>
														</li>
													{% endfor %}
												</ul>
											{% endif %}
										</div>
									</nav>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>

			{% elseif widget == 'copyright' %}
				{# Strip 3: Footer (Copyright) #}
				<div class="bottom-banner-footer">
					<div class="bottom-banner-footer-content">
						<div class="bottom-banner-copyright">
							{% if copyright %}
								{{ copyright|replace({'{year}': "now"|date("Y"), '[year]': "now"|date("Y")})|raw }}
							{% else %}
								<p>&copy;
									{{ "now"|date("Y") }}
									{{ site_name }}. All rights reserved.</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	{# Back to Top Button #}
	<a href="#top" class="back-to-top" aria-label="Back to top" data-back-to-top>
		<i class="la la-angle-up icon-lg" aria-hidden="true"></i>
	</a>
</footer>
