{% if pagination|length > 1 %}
<nav class="flex justify-center my-12 @container" aria-label="Pagination">
    <ul class="flex items-center gap-2">
        {% if pagination.hasPrev %}
            {% set url = (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
            <li>
                <a rel="prev" href="{{ url }}" class="btn-page">
                    <i class="la la-long-arrow-alt-left mr-2 text-lg"></i>
                    {{ 'THEME_NUR_UL_HUDA.PAGINATION.PREV'|t }}
                </a>
            </li>
        {% else %}
            <li>
                <span class="btn-page-disabled">
                    <i class="la la-long-arrow-alt-left mr-2 text-lg"></i>
                    {{ 'THEME_NUR_UL_HUDA.PAGINATION.PREV'|t }}
                </span>
            </li>
        {% endif %}

        <div class="hidden @md:flex items-center gap-2">
            {% for paginate in pagination %}
                {% if paginate.isCurrent %}
                    <li>
                        <span class="btn-page-active">
                            {{ paginate.number }}
                        </span>
                    </li>
                {% elseif paginate.isInDelta %}
                    <li>
                        <a href="{{ url }}" class="btn-page !w-11 !h-11 !px-0">
                            {{ paginate.number }}
                        </a>
                    </li>
                {% elseif paginate.isDeltaBorder %}
                    <li>
                        <span class="flex items-center justify-center w-11 h-11 text-sm font-black text-subtle">
                            &hellip;
                        </span>
                    </li>
                {% endif %}
            {% endfor %}
        </div>

        {% if pagination.hasNext %}
            {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
            <li>
                <a rel="next" href="{{ url }}" class="btn-page">
                    {{ 'THEME_NUR_UL_HUDA.PAGINATION.NEXT'|t }}
                    <i class="la la-long-arrow-alt-right ml-2 text-lg"></i>
                </a>
            </li>
        {% else %}
            <li>
                <span class="btn-page-disabled">
                    {{ 'THEME_NUR_UL_HUDA.PAGINATION.NEXT'|t }}
                    <i class="la la-long-arrow-alt-right ml-2 text-lg"></i>
                </span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

