{# 
    NUR-UL-HUDA PAGINATION
    ----------------------
    Blueprint: [ui-utilities.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/ui-utilities.blueprint.md)
#}
{% if pagination|length > 1 %}
<nav class="pagination-nav container-inline" aria-label="Pagination">
    <ul class="pagination-list">
        {% if pagination.hasPrev %}
            {% set url = (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
            <li>
                <a rel="prev" href="{{ url }}" class="btn-page">
                    <i class="la la-long-arrow-alt-left btn-page-icon-left"></i>
                    {{ 'THEME_NUR_UL_HUDA.PAGINATION.PREV'|t }}
                </a>
            </li>
        {% else %}
            <li>
                <span class="btn-page-disabled">
                    <i class="la la-long-arrow-alt-left btn-page-icon-left"></i>
                    {{ 'THEME_NUR_UL_HUDA.PAGINATION.PREV'|t }}
                </span>
            </li>
        {% endif %}

        <div class="pagination-hidden-mobile">
            {% for paginate in pagination %}
                {% if paginate.isCurrent %}
                    <li>
                        <span class="btn-page-active">
                            {{ paginate.number }}
                        </span>
                    </li>
                {% elseif paginate.isInDelta %}
                    <li>
                        <a href="{{ url }}" class="btn-page btn-page-square">
                            {{ paginate.number }}
                        </a>
                    </li>
                {% elseif paginate.isDeltaBorder %}
                    <li>
                        <span class="pagination-ellipsis">
                            &hellip;
                        </span>
                    </li>
                {% endif %}
            {% endfor %}
        </div>

        {% if pagination.hasNext %}
            {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
            <li>
                <a rel="next" href="{{ url }}" class="btn-page">
                    {{ 'THEME_NUR_UL_HUDA.PAGINATION.NEXT'|t }}
                    <i class="la la-long-arrow-alt-right btn-page-icon-right"></i>
                </a>
            </li>
        {% else %}
            <li>
                <span class="btn-page-disabled">
                    {{ 'THEME_NUR_UL_HUDA.PAGINATION.NEXT'|t }}
                    <i class="la la-long-arrow-alt-right btn-page-icon-right"></i>
                </span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
