{# 
    NUR-UL-HUDA SOCIAL ICONS
    ------------------------
    Blueprint: [social-icons.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/social-icons.blueprint.md)
    Centralized Social Icons Partial 
    SRP Refactored: Logic and SVG data moved to SocialHelper::getSocialData
#}
<div class="social-icons-wrapper {{ context == 'top_banner' ? 'is-top' : 'is-bottom' }}">
	{% for social in social_icons.items %}
		<a href="{{ social.url }}" 
           target="_blank" 
           rel="noopener noreferrer" 
           class="social-icon {{ social.name|replace({'_': '-'}) }} {{ social_icons.show_labels_mobile ? 'show-label-mobile' : '' }} {{ social_icons.show_labels_desktop ? 'show-label-desktop' : '' }}" 
           aria-label="Visit our {{ social.label }} page"
           data-tooltip="{{ social.label }}">

			{% if social.svg %}
				<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="social-icon-svg" aria-hidden="true">
					<path d="{{ social.svg }}"/>
				</svg>
			{% elseif social.icon %}
				<i class="{{ social.icon }}" aria-hidden="true"></i>
			{% endif %}

			{% if (social_icons.show_labels_mobile or social_icons.show_labels_desktop) and context != 'top_banner' %}
				<span class="social-label">{{ social.label }}</span>
			{% endif %}
		</a>
	{% endfor %}
</div>
