{# 
    NUR-UL-HUDA TNT SEARCH
    ----------------------
    Blueprint: [interactive-components.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/interactive-components.blueprint.md)
#}
{% set url = url|default(base_url|rtrim('/') ~ '/' ~ config.get('plugins.tntsearch.query_route', 's')|trim('/')) %}
{% set limit = limit|default(config.get('plugins.tntsearch.limit', 20)) %}
{% set snippet = snippet|default(config.get('plugins.tntsearch.snippet', 300)) %}
{% set min = min|default(config.get('plugins.tntsearch.min', 3)) %}
{% set search_type = search_type|default(config.get('plugins.tntsearch.search_type', 'auto')) %}
{% set placeholder = placeholder|default('Search Resources...') %}
{% set live_update = in_page ? live_update|default(config.get('plugins.tntsearch.live_uri_update', 1)) : 0 %}
{% set nojs_action = config.get('plugins.tntsearch.search_route', '/search')|trim('/') %}

{% set options = { uri: url, limit: limit, snippet: snippet, min: min, in_page: in_page, live_update: live_update, search_type: search_type } %}

<form role="form" class="tntsearch-form group" action="{{ nojs_action }}" method="get">
	<div id="tntsearch-wrapper" style="position: relative;">
		<label for="tntsearch-field" class="sr-only">{{ placeholder }}</label>
		<input type="text" name="q" id="tntsearch-field" class="tntsearch-input tntsearch-field{{ in_page ? ' tntsearch-field-inpage' : '' }}" data-tntsearch="{{ options|json_encode|e('html_attr') }}" placeholder="{{ placeholder }}" value="{{ not dropdown ? query|e : '' }}" autocomplete="off">
		<div class="tntsearch-icon-wrapper">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
				<path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
			</svg>
		</div>
		<span class="tntsearch-clear" {{ not query or dropdown ? 'style="display: none;"' : '' }}>&times;</span>
	</div>

	<div class="tntsearch-results{{ in_page ? ' tntsearch-results-inpage' : '' }}">
		{% if tntsearch_results is defined and tntsearch_results is not empty and in_page %}
			{% include 'tntquery-ajax.html.twig' %}
		{% endif %}
	</div>
</form>
