{# 
    NUR-UL-HUDA MODULAR FEATURES
    ----------------------------
    Blueprint: [modular-components.blueprint.md](file:///Users/syedaalin/Documents/Grav/user/themes/nur-ul-huda/blueprints/docs/modular-components.blueprint.md)
#}
{% set grid_size = theme_var('grid-size') %}
{% set columns = page.header.class == 'small' ? 'features-grid-4col' : 'features-grid-3col'  %}
<section class="modular-section modular-features {{ page.header.class}}">
	<div class="section-container">
		<div class="frame-box animate-fade-in-up">
			{% if content %}
				<div class="section-intro">
					{{ content|raw }}
				</div>
			{% endif %}

			<div class="{{ columns }}">
				{% for feature in page.header.features %}
					<div class="feature-card">
						{% if feature.url %}
							<a href="{{feature.url}}" class="link">
							{% endif %}
							<div class="icon-wrapper">
								<i class="la la-fw {{ feature.icon }} icon" aria-hidden="true"></i>
								{% if feature.header %}
									<h3 class="title">{{ feature.header }}</h3>
								{% endif %}
							</div>
							{% if feature.url %}
							</a>
						{% endif %}
						<div class="content">
							{% if feature.text %}
								<p class="text">{{ feature.text }}</p>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
